<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerApiKey</key>
	<string>$(SERVER_API_KEY)</string>
	<key>AnalyticsUrl</key>
	<string>$(ANALYTICS_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>RecipeSafe needs to access the camera to take photos of recipes.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.seane.RecipeSafe.Shared</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>RecipeSafe</string>
			</array>
		</dict>
	</array>
	<key>OpenAIKey</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>ServerUrl</key>
	<string>$(SERVER_API_URL)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launch-screen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
